body {
 /*   background-color: #f8f9fa;*/
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.login-container {
    width: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-left: 700px;
    margin-right: 90px;
    margin-top: 90px;
}
.login-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 100%;
    height: auto;
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login {
    position: absolute;
    top: 45px;
}

.newimg{
    position: absolute;
    top: 90px;
}

.uresha{
    color: green;
    margin-right: 20px;
}




