body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   /* margin-bottom: 20px;*/
    width: 450px; /* Adjust the width as needed */
    max-width: 100%; /* Ensure the card doesn't exceed the container width */
    /*margin-left: 10px;*/
}



.card-header {
    font-weight: bold;
}


.form-group label {
    font-weight: bold;
}


.Th3{
    color: dodgerblue;
}

.Sh4{
    color: red;
}


.Order-content{
    margin-left: 570px;
}


.Order-content h1{
    color: black;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}


.card-sm {
    max-height: 430px; /* Adjust the value as needed */
}

.add-button{
    position: relative;
    bottom: 30px;
}

.invoice-de{                        /*I*/
    position: relative;
    left: -160px;
    bottom: 20px;
}

.item-select{                      /*I*/
    position: relative;
    right: 250px;
    bottom: 20px;
}

.center-card{                      /*I*/
    position: relative;
    bottom: 670px;
    left: 800px;
}

.purchase{                        /*I*/
    position: relative;
    top: 10px;
}

.card-lg {
    height: 400px;
    width: 350px;
}

.o-table{                          /*I*/
    position: relative;
    bottom: 100px;
}


.card-table{                           /*I*/
    position: relative;
    width: 1400px;
    top: -50px;
    right: 160px;
}



